/* WR IE7 support stylesheet */
/* Created by Dream Webs */
/* It brings support for versions of older IE browsers from IE7 up to IE 9 */

.dw-header, #dw-header-bg, .dw-layout-cell, .dw-layout-wrapper, .dw-footer, .dw-nav, #dw-hmenu-bg, .dw-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.dw-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.dw-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#dw-header-bg 
{
   display: none;
}

.dw-hmenu>li, .dw-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.dw-hmenu, ul.dw-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#dw-hmenu-bg 
{
   display: none;
}

ul.dw-hmenu>li:first-child {
   padding-right:11px;
}
ul.dw-hmenu>li{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='dw-hmenu-separator');
}
ul.dw-hmenu>li>span.dw-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -11px;
   width: 11px;
   height: 34px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.dw-hmenu>li:first-child>span.dw-hmenu-separator
{
   display:none;
}

ul.dw-hmenu ul, .desktop-nav ul.dw-hmenu>li.ext:hover>a{
   background-color: #EFF2F5 !important;
}

.dw-content-layout, .dw-content-layout-row, .dw-layout-cell 
{
   display: block;
   zoom: 1;
}
.dw-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.dw-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.dw-search div>input[type="text"]
{
   width: 100%;
}

* html form.dw-search>input[type="text"] 
{
   margin :0;
}

form.dw-search
{
   zoom: 1;
}
.dw-postheadericons span{
   zoom: 1;
}
.dw-postcontent {
   height: 1%;
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.dw-content 
{
   width: auto;
   float:none;
}

